@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Duru+Sans&family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navigations */
.navigation-container {
  display: flex;
  background: #53bde5;
}

.navigation-container .logo-container {
  justify-content: flex-start;
  margin-top: 0.5em;
}

.navigation-container .logo-container img {
  width: auto;
  height: 65px;
}

.navigation-container .navigation-controls ul {
  list-style: none;
  margin-left: 600px;
  margin-top: 1.7em;
  display: flex;
  flex-direction: row;
}

.navigation-container .navigation-controls ul li {
  margin-right: 2.5em;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.navigation-container .profile-container {
  height: 50px;
  width: auto;
  background: #ffffff;
  display: flex;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0.9em;
  border-radius: 20px;
  cursor: pointer;
}

.navigation-container .profile-container h4 {
  padding-top: 0em;
  padding-left: 0.5em;
}

.navigation-container .profile-container img {
  margin-top: -0.5em;
}

.navigation-container .profile-container .profile-name-container h4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.navigation-container .profile-container .profile-icon-container img {
  width: 35px;
  height: 35px;
}

/* Profile Modal */
.overlay-profileIcon {
  display: none;
  position: fixed;
  left: 72%;
  top: 10.5%;
  background-color: #f3f7ff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  max-width: 350px;
  max-height: 305px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: none;
}

/* modal button for add */
.overlay-course {
  display: none;
  position: absolute;
  left: 72%;
  top: 56.5%;
  background-color: #f3f7ff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.147);
  border-radius: 10px;
  max-width: 200px;
  max-height: 75px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.show {
  display: block;
}

/* modal button for add lesson */
.overlay-lesson {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  background-color: #e9eef6;
}

.show {
  display: block;
}

/* Content Upload Lesson Modal */
.container_button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 75px;
  background-color: #53bde5;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.container_button .closebutton_lesson {
  height: 35px;
  width: 35px;
  margin-right: 1.5em;
}

.container_button .closebutton_lesson:hover {
  background-color: #30303014;
  border-radius: 5px;
  cursor: pointer;
}

.containerLesson_button {
  height: 45px;
  width: 45px;
}

/* close img icon for lesson modal */
.closebutton {
  position: absolute;
  height: 48px;
  width: 48px;
  left: 95%;
  top: 3%;
}

/*Upload Materials Contents*/
.add-lesson {
  position: absolute;
  top: 25%;
  left: 73%;
  background-color: #056488;
  border: none;
  border-radius: 6px;
  height: 40px;
  width: 100px;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.add-lesson:hover {
  cursor: pointer;
}

.lesson-title {
  position: absolute;
  top: 25%;
  left: 20%;
  font-size: 30px;
  font-family: "Inter", sans-serif;
}

/* upload buttons */
.upload_lesson {
  background-color: #f3f7ff;
  border: none;
  width: 100%;
  height: 50%;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.upload_assessment {
  background-color: #f3f7ff;
  border: none;
  width: 100%;
  height: 50%;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

/* when hover the modal options */
.upload_assessment:hover,
.upload_lesson:hover {
  background-color: #056488;
  color: #f3f7ff;
  cursor: pointer;
}

.lesson_underline {
  width: 100%;
  max-width: 900px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 34%;
  left: 20%;
}

.lesson-input {
  border: none;
  border-radius: 10px;
  width: 500px;
  height: 50px;
  position: absolute;
  top: 38%;
  left: 20%;
  padding: 1em;
  box-shadow: 0px 1.5px 1px rgba(0, 0, 0, 0.2);
  font-family: "Inter", sans-serif;
}

.lesson-desc {
  border: none;
  border-radius: 10px;
  width: 900px;
  min-width: 900px;
  max-width: 900px;
  height: 180px;
  max-height: 180px;
  min-height: 140px;
  position: absolute;
  top: 47%;
  left: 20%;
  padding: 1em;
  box-shadow: 0px 1.5px 1px rgba(0, 0, 0, 0.2);
  font-family: "Inter", sans-serif;
  font-size: 13px;
}

.lesson-attach {
  position: absolute;
  left: 20%;
  top: 73%;
  font-family: "Inter", sans-serif;
  color: #303030;
  font-weight: 500;
}

.uploadLabel-container {
  position: absolute;
  left: 20%;
  top: 77%;
  border: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  width: 150px;
  height: 40px;
  color: #868686;
  font-family: "Inter", sans-serif;
}

.uploadLabel {
  display: flex;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: #868686;
  align-items: center;
  padding: 10px 5px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 2px 1px #0000001e;
}

.uploadLabel:hover {
  background-color: #868686;
  color: #ffffff;
  cursor: pointer;
}

.attachmentFileName {
  font-size: 10px;
}

input[type="file"] {
  display: none;
}

/* close img icon for asessment modal */
.closebutton_assessment {
  height: 35px;
  width: 35px;
  margin-right: 1.5em;
}

.container_button2 .closebutton_assessment:hover {
  background-color: #30303014;
  border-radius: 5px;
  cursor: pointer;
}

/*Upload assessment Contents*/
.container_button2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 75px;
  background-color: #53bde5;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
.overlay-assessment {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  background-color: #e9eef6;
}
.add-assessment {
  position: absolute;
  top: 25%;
  left: 73%;
  background-color: #056488;
  border: none;
  border-radius: 6px;
  height: 40px;
  width: 100px;
  color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.add-assessment:hover {
  cursor: pointer;
}

.assessment-title {
  position: absolute;
  top: 25%;
  left: 20%;
  font-size: 30px;
  font-family: "Inter", sans-serif;
}

.assessment_underline {
  width: 100%;
  max-width: 900px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 34%;
  left: 20%;
}

/* upload buttons */
.assessment-input {
  border: none;
  border-radius: 10px;
  width: 500px;
  height: 50px;
  position: absolute;
  top: 38%;
  left: 20%;
  padding-left: 1em;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.assessment-desc {
  border: none;
  border-radius: 10px;
  width: 900px;
  min-width: 900px;
  max-width: 900px;
  height: 180px;
  max-height: 180px;
  min-height: 140px;
  position: absolute;
  top: 47%;
  left: 20%;
  padding: 1em;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.uploadLabel2-container {
  position: absolute;
  left: 20%;
  top: 77%;
  border: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  width: 150px;
  height: 40px;
  color: #868686;
  font-family: "Inter", sans-serif;
}

.uploadLabel2 {
  display: flex;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: #868686;
  align-items: center;
  padding: 10px 5px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 2px 1px #0000001e;
}

.uploadLabel2:hover {
  background-color: #868686;
  color: #ffffff;
  cursor: pointer;
}

.attachmentFileName2 {
  font-size: 10px;
}

input[type="file"] {
  display: none;
}

.picture {
  background-color: #056488;
  width: 1350px;
  height: 250px;
  border-radius: 30px;
  margin-top: 40px;
  margin-left: 50px;
}

.close-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  margin-right: 1.5em;
}

.profile-closebtn {
  border: none;
  background-color: #f3f7ff;
  color: #898989;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.profile-closebtn:hover {
  color: #000000;
  cursor: pointer;
}

.profileIcon-modal-container {
  display: flex;
  flex-direction: column;
}

.profileIcon-modal-container .profile-icon-container {
  display: flex;
  justify-content: center;
}

.profileIcon-modal-container .profile-icon-container img {
  height: 84px;
  width: 84px;
}

.profileIcon-modal-container .userName-container {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

.profileIcon-modal-container .userName-container h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.profileIcon-modal-container .email-container {
  display: flex;
  justify-content: center;
  height: auto;
  margin-top: 0.3em;
}

.profileIcon-modal-container .email-container p {
  font-family: "DM Sans", sans-serif;
  font-size: 12.5px;
  font-weight: 400;
  font-style: normal;
}

.profileIcon-modal-container .logout-container {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.profileIcon-modal-container .logout-container button {
  padding: 10px 65px;
  border-radius: 25px;
  border: none;
  background-color: #ffffff;
  color: #53bde5;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.profileIcon-modal-container .logout-container button:hover {
  background-color: #53bde5;
  color: #ffffff;
}

.upload-img-container {
  display: flex;
  align-content: center;
}

/*---------- Course Contents ----------*/
.course_content-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-top: 1rem;
}

.course-assessments-h3,
.course-materials-h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}

.button_course:hover {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  cursor: pointer;
}

.course-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 1050px;
}

.course-header {
  position: relative;
  left: 25px;
  width: 100%;
  height: 2px;
  margin-top: 1.5em;
}

.course_underline {
  width: 100%;
  max-width: 1060px;
  height: 2px;
  background-color: #000000;
  margin-right: 140px;
  margin-top: 1.3em;
}

.course-header h3 {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 600;
  white-space: nowrap;
  width: 25%;
}

.button_course {
  background-color: #7daac9;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 15px;
  width: 100%;
  min-width: 300px;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.lesson_image {
  background-color: #e4e4e4;
  border-radius: 50%;
  padding: 5px;
  height: 35px;
  width: 35px;
}

.lesson_dot {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.lesson_text span {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  position: absolute;
  top: 23px;
  left: 11%;
  flex: 1;
}

.lesson_text2 span {
  position: absolute;
  top: 49px;
  left: 11%;
  margin-right: 1.5rem;
  font-size: 14px;
  font-weight: 400;
  color: #0f323f;
  opacity: 0.6;
}

/*Banner*/

.course_banner {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin-top: 60px;
  background-color: #056588c3;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  width: 100%;
  min-width: 600px;
  max-width: 1200px;
  height: 250px;
  max-height: 250px;
}
.course_logo {
  height: 180px;
  width: 180px;
  position: absolute;
  left: 16%;
  top: 20%;
}

.course_text {
  position: absolute;
  top: 30%;
  left: 30%;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 20px;
}

.course_text2 {
  position: absolute;
  top: 33%;
  left: 29.9%;
  color: #0f323f;
  font-family: "Inter", sans-serif;
  font-weight: 1000;
  font-size: 50px;
}

/* add button */

.addbutt_container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5em;
}

.addStudent-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}

.addbutt_container:hover {
  cursor: pointer;
}

/* lesson1 image */
.lesson_image {
  position: relative;
  display: flex;
  left: 20px;
  height: 56px;
  width: 56px;
}
