@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Duru+Sans&family=Inter:wght@100..900&display=swap");

/* Error Message */
.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 2%;
  left: 16%;
  width: 67%;
}

body {
  background-color: #e9eef6;
  padding-bottom: 50px;
  padding-top: 100px;
  padding-left: 210px;
  padding-right: 200px;
}

/* container for sign in */
.signIn-container {
  display: flex;
  background: #ffffff;
  height: 463px;
  border-radius: 20px;
}

/* image */
.signIn-container .side-img-container img {
  height: auto;
  width: 350px;
}

/* header */
.signIn-container .header-text-container {
  display: flex;
  flex-direction: row;
  margin-left: 270px;
  gap: 20px;
}

.signIn-container .header-text-container .sign-in-container {
  margin-top: 50px;
}

.signIn-container .header-text-container .sign-in-container h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.signIn-container .header-text-container .sign-up-container {
  margin-top: 50px;
}

.signIn-container .header-text-container .sign-up-container h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

/* underline */
.header-text-container .underline {
  position: absolute;
  top: 23%;
  width: 90px;
  height: 5px;
  background-color: #056488;
  margin-right: 140px;
  margin-top: 0.2em;
}

/* inputs */
.inputs-container {
  position: absolute;
  left: 52%;
  top: 29%;
}

.inputs-container form input {
  padding: 15px;
  display: flex;
  margin-top: 25px;
  width: 350px;
  border: none;
  border-radius: 5px;
  background-color: #edecec;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}

/* sign-up navigation */

.sign-up-nav {
  margin-top: 1.5em;
}

.sign-up-nav p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  gap: 5px;
}

.sign-up-nav p .sign-up-link {
  text-decoration: none;
  font-weight: 400;
  color: #056488;
}

.submit-container {
  margin-top: 40px;
  margin-left: 80px;
}

.submit-container button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
  border: none;
  border-radius: 7px;
  background-color: #347e99;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.158);
}

.submit-container button:hover {
  background-color: #056488;
}
