@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Error Message */
.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 2%;
  left: 16%;
  width: 67%;
}
.container {
  width: 1000px;
  height: 520px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 60px;
  padding-bottom: 30px;
  border-radius: 20px;
}

.side-img {
  display: flex;
  position: absolute;
  margin-right: 650px;
  margin-top: 30px;
}

.side-img img {
  width: 350px;
  height: 570px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 360px;
}

.text {
  display: inline-flex;
  gap: 30px;
  color: #000000;
  font-size: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.underline {
  width: 109.5px;
  height: 5px;
  background-color: #056488;
  margin-right: 140px;
  margin-top: 0.2em;
}

.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-left: 110px;
}

.input input {
  height: 45px;
  width: 416px;
  font-size: 16px;
  padding-left: 15px;
  margin-left: 250px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  background-color: #edecec;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.input input:focus {
  background-color: #ffffff;
  color: #000000;
  border: none;
}

.sign-up-nav {
  display: flex;
  margin-top: 0.6em;
  margin-left: 365px;
  position: absolute;
}

.sign-up-nav p .sign-up-link {
  text-decoration: none;
  color: #056488;
}

.sign-up-nav p {
  opacity: 70%;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 70px auto;
  padding-left: 450px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 55px;
  font-size: 25px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  background-color: #056488;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  border: #056488;
}
